.hero {
  background-image: url('../assets/car.jpg');
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 218vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: none;
  background-color: #57a5e6;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #808080;
}



.hero {
  position: relative;
  /* Ensure the container is positioned relative to the video or image */
  overflow: hidden;
  /* Hide any content that might overflow */
  height: 100vh;
  /* Set the height of the container to match the viewport height */
}

/* Styles for background video */
.video-background {
  position: absolute;
  /* Position the video absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  /* Set the width of the video to match the container */
  height: 100%;
  /* Set the height of the video to match the container */
  object-fit: cover;
  /* Ensure the video covers the entire container */
  z-index: -1;
  /* Send the video behind other content */
}

/* Styles for content within the hero section */
.hero-content {
  position: absolute;
  /* Position the content absolutely within the container */
  top: 50%;
  /* Align the content vertically centered */
  left: 50%;
  /* Align the content horizontally centered */
  transform: translate(-50%, -50%);
  /* Move the content back by 50% of its own size, centering it */
  z-index: 1;
  /* Ensure content appears above the video */
  text-align: center;
  /* Center align text */
  color: #fff;
  /* Text color */
  padding: 20px;
  /* Add padding to the content */
}
