.login {
    background-image: url("C:\Users\lenni\Desktop\struct prog class\HIC-Project\HIC-Project\src\assets\coolcar.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}